<link rel="stylesheet" href="./index.css" />
<link rel="stylesheet" href="/css/utility.css">

<div class="container">
  <div class="cartProduct cartProduct--portrait">
    <div class="cartProduct_img">
      <img src="./assets/productImage.png" alt="" />
    </div>
    <div class="cartProduct_content">
      <div class="cartProduct_heading">
        <h5 class="cartProductProduct_title">Product 1</h5>
        <div class="cartProduct_price">
            <h2 class="t3">&#8377 2999</h2>
            <h3 class="t3 text-cross text-fade">&#8377 3999</h3>
        </div>
        <p class="cartProduct_discount t3 text-fade">26%</p>
        <div class="product_Qauntity">
            <div class="text4">Quantity :-</div>
            <i class="fas fa-plus-square"></i>
            <div class="product_qauntityValue"></div>
            <i class="fas fa-minus-square"></i>
        </div>
      </div>
      <div class="cartProduct_actions">
          <button>Remove From Cart</button>
          <button class="cartProduct_action--active">Move To Wishlist</button>
      </div>
    </div>
  </div>
</div>

<script src="./index.js"></script>
