/* badge component starts here */

.badge {
  margin: 1rem;
  width: max-content;
}

.badge_icon {
  color: white;
  padding: 1px 6px;
  border-radius: 60%;
  position: absolute;
  font-size: 12px;
}
i.badge_icon {
  padding: 7px 11px;
}

.badge_icon.pri {
  background-color: rgba(var(--primary), 1);
}

.badge_icon.sec {
  background-color: rgba(var(--secondary), 1);
}

.badge_icon.def {
  background-color: rgba(var(--black), 1);
}

.t-left {
  top: -1.1em;
  left: -1.1em;
}

.t-right {
  top: -1.1em;
  right: -1.1em;
}

.b-left {
  bottom: -1.1em;
  left: -1.1em;
}

.b-right {
  bottom: -1.1em;
  right: -1.1em;
}

/* badge component ends here */

/* slider component starts from here */
.slider {
  overflow: hidden;
  max-width: 100vw;
  display: grid;
  grid-template-areas: "overflow";
}

.slider_slide {
  grid-area: overflow;
  display: flex;
  width: max-content;
  max-height: 95vh;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: ease 500ms;
}

.slider_item {
  width: 100%;
}

.slider_item img {
  /* this is a temprory css it doesnt have any relation with the component itself */
  object-fit: cover;
  max-height: 100%;
  width: 100vw;
  object-position: center center;
}

.slider_buttons {
  grid-area: overflow;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.slider_button1,
.slider_button2 {
  background-color: transparent;
  color: white;
  z-index: 2;
  transition: ease 400ms;
}

.slider_button1:hover,
.slider_button2:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slider_dots {
  grid-area: overflow;
  display: none;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  max-width: 100vw;
  z-index: 10;
  margin-bottom: 1.2rem;
}

.slide_dot i {
  color: white;
  font-size: 1.2rem;
}

.slider--dots .slider_dots {
  display: flex;
}

.slider--dots .slider_buttons {
  display: none;
}

/* slider component ends here */

/* cards component starts here */

.card {
  justify-self: center;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: white;
  flex-direction: column;
  width: 20rem;
  display: flex;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
}

button {
  transition: none;
}

.card_imggradient {
  height: 12rem;
  width: 100%;
}

.card--gradient .card_imggradient {
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.9) 40%
  );
}
.card--gradient .card_imggradient_img {
  opacity: 0.8;
}

.card .card_imggradient_img {
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  width: 100%;
  height: 12rem;
  min-height: 100%;
}

.card_header {
  padding: 0.5rem 1rem;
  align-self: flex-start;
  z-index: 10;
}

.card_header h3 {
  font-size: 1.4rem;
  margin: 0.3rem 0rem 0rem;
}
.card_header h4 {
  font-size: 0.9rem;
  color: gray;
  font-weight: 500;
}

.card_content {
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  color: gray;
  font-weight: 400;
}

.card_btnBox {
  padding: 0.5rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.card_btnBox_box1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card_btnBox_box1 > * {
  color: blueviolet;
  font-weight: 500;
  font-size: 1rem;
  background-color: transparent;
}

.card_btnBox_box2 {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card_btnBox_box2 > * {
  font-size: 1rem;
  background-color: transparent;
  color: gray;
}

.card .card_imggradient_img {
  height: 100%;
  object-fit: cover;
}

.card--text-over {
  display: grid;
  grid-template-areas: "overflow" "content" "buttons";
}

.card--text-over .card_imggradient {
  grid-area: overflow;
  height: 12rem;
  min-height: calc(100% + 1rem);
}
.card--text-over .card_header {
  grid-area: overflow;
  color: white;
  align-self: flex-end;
  margin-bottom: 1rem;
}

.card--text-over .card_header h4 {
  color: white;
}

.card--text-over .card_content {
  padding: 1rem 1rem 0.5rem;
}

.card--header {
  display: grid;
  grid-template-areas: "header" "img" "content" "buttons";
}

.card--header .card_header {
  grid-area: header;
}
.card--header .card_imggradient {
  border-radius: 0rem;
  margin-right: 0.5rem 0rem;
}

.card--header .card_imggradient_img {
  border-radius: 0rem;
  height: 100%;
}
.card--header .card_content {
  padding: 1rem 1rem 0.5rem;
}

.card--icons .card_btnBox_box1 {
  display: none;
}

.card--buttons .card_btnBox_box2 {
  display: none;
}

.card--horizontal {
  display: grid;
  grid-template-areas: "img header header" "button button button";
}
.card--horizontal .card_imggradient {
  grid-area: img;
  height: 8rem;
}
.card--horizontal .card_imggradient_img {
  border-radius: 0.3rem 0rem 0rem;
  object-fit: cover;
  height: 100%;
}

.card--horizontal .card_header {
  grid-area: header;
  align-self: center;
}
.card--horizontal .card_content {
  display: none;
}

.card--horizontal .card_btnBox {
  grid-area: button;
  padding: 1rem;
}

/* cards component ends here */

/* catergory cards starts here */
.catergory_card {
  display: grid;
  grid-template-areas: "img cont cont";
  padding: 3rem 2.4rem;
  margin: 2rem;
  background-color: rgb(var(--gray-light));
  border-radius: 10px;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.catergory_cardImg {
  grid-area: img;
  height: 10rem;
}

.catergory_cardImg img {
  object-fit: cover;
  height: 100%;
  width: 15rem;
}

.catergory_cardContent {
  height: 100%;
  grid-area: cont;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .catergory_card {
    margin: 0.5rem;
    padding: 2.5rem 2rem;
  }
}

@media (max-width: 480px) {
  .catergory_card {
    text-align: justify;
  }
  .catergory_cardImg {
    display: none;
  }
}
/* catergory cards ends here */

/* catergory list stars here */

.catergory_list {
  display: flex;
  gap: 12px;
}

.catergory_listItem {
  display: grid;
  grid-template-areas: "overflow";
  align-items: center;
  text-align: center;
}

.catergory_listItem > * {
  grid-area: overflow;
  width: 100%;
}

.catergory_listItem img {
  object-fit: cover;
  width: 16rem;
  height: 10rem;
  object-position: center center;
}

.catergory_listItem h4 {
  background-color: white;
  padding: 5px;
}

@media (max-width: 768px) {
  .catergory_list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .catergory_listItem {
    flex-basis: 160px;
  }
}

@media (max-width: 480px) {
  .catergory_listItem {
    flex-basis: 125px;
  }
}

/* catergory list ends here */

/* Product Card starts here */
.productListing {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.productListing--portrait {
  display: grid;
  grid-template-areas: "img content" "img content";
}

.productListing_header {
  display: grid;
  margin: 1.2rem;
  grid-template-areas: "overflow";
}

.productListing--portrait .productListing_header {
  grid-area: img;
  margin: 2rem 1.4rem;
}

.productListing_header > * {
  grid-area: overflow;
}

.productListing_header img {
  width: 9rem;
  object-fit: contain;
  justify-self: center;
}

.productListing--portrait .productListing_header img {
  width: 10.5rem;
}

.productListing_wishlistIcon {
  justify-self: end;
  align-self: start;
  color: crimson;
  background-color: rgb(var(--primary));
  padding: 2px 5.5px;
  border-radius: 50%;
}

.productListing_content {
  background-color: white;
  text-align: center;
  padding: 0.6rem 4.4rem;
}

.productListing--portrait .productListing_content {
  grid-area: content;
  text-align: left;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productListing--portrait .productListing_content > * {
  margin: 0px;
}

.productListing_title {
  margin: 3px auto;
}

.productListing_price {
  font-weight: 900;
  color: black;
  font-size: 1.2rem;
  margin: 3px auto;
}

.productListing--portrait .productListing_price {
  display: flex;
  gap: 10px;
}

.productListing_discount {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.45);
  text-decoration-color: rgba(0, 0, 0, 0.45);
  display: none;
}
.productListing--portrait .productListing_discount {
  display: block;
}

.productListing_action {
  width: 100%;
  padding: 0.6rem;
  font-weight: 400;
  font-size: 1.1rem;
}

.productListing_action--active:hover {
  background-color: rgba(var(--secondary), 0.85);
}

.productListing_action--active {
  background-color: rgb(var(--secondary));
}

.productListing_btnContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-end;
}

.productListing_btnContainer > * {
  padding: 0.5rem 3.7rem;
  font-size: 1rem;
}
/* Product Card ends here */

/* Product Filter Starts Here */
.productFilter {
  background-color: white;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productFilter_heading {
  display: flex;
  justify-content: space-between;
}

.productFilter_filterHeading {
  font-size: 1.2rem;
  color: rgb(var(--black));
  margin-bottom: 7px;
}

.productFilter_clear {
  background-color: transparent;
  color: rgb(var(--black));
  text-decoration: underline;
  padding: 0rem;
  transition: none;
  font-size: 1rem;
}

.productFilter_priceRange {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

#priceRange {
  width: 100%;
}

.productListing_radio {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.productListing_radio .productListing_radioButton {
  background-color: transparent;
  width: max-content;
  transition: none;
  color: rgb(var(--black));
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.productListing_radio .productListing_radioIcon {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(var(--black));
  margin-right: 10px;
  padding: 2px;
  color: rgb(var(--black));
  font-size: 10px;
}

/* Product Filter ends Here */

/* cartTotal starts here */

.cart_total {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}
.cart_total > * {
  width: 100%;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 8px;
  margin-top: 8px;
}

.cart_totalDetails {
}

.cart_priceDetail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cart_totalAmount {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cart_totalAction {
  padding-bottom: 0px;
  border: none;
}

.cart_totalAction button {
  transition: none;
  width: 100%;
  margin-top: 8px;
}

/* cartTotal ends here */

/* cartProduct starts here */

.cartProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.12);
  height: 16rem;
}

.cartProduct--portrait {
  height: 13rem;
}

.cartProduct_img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartProduct_img img {
  padding: 1.2rem;
  object-fit: contain;
  object-position: center center;
  height: 85%;
}

.cartProduct--portrait .cartProduct_img img {
  height: 90%;
}

.cartProduct_content {
  height: 100%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.cartProduct--portrait .cartProduct_content {
  flex-direction: row;
  width: max-content;
}

.cartProduct_heading {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-right: 4rem;
  white-space: nowrap;
}

.cartProduct--portrait .cartProduct_heading {
  padding: 0rem;
  width: max-content;
  margin-right: 8rem;
  min-height: 100%;
}

.cartProduct_price {
  display: flex;
  gap: 1rem;
}

.product_Qauntity {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cartProduct--portrait .product_Qauntity {
  margin-top: auto;
}

.cartProduct_actions {
  margin-top: 0.8rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.cartProduct--portrait .cartProduct_actions {
  gap: 1rem;
}

.cartProduct_actions button {
  width: 100%;
}

.cartProduct_action--active {
  background-color: rgba(var(--secondary), 1);
}

.cartProduct_action--active:hover {
  background-color: rgba(var(--secondary), 0.8);
}

/* cartProduct ends here */

@media (max-width: 768px) {
  html {
    font-size: 85%;
  }
}
