/* badge component starts here */

.badge {
  margin: 1rem;
  width: max-content;
}

.badge_icon {
  color: white;
  padding: 1px 6px;
  border-radius: 60%;
  position: absolute;
  font-size: 12px;
}
i.badge_icon {
  padding: 7px 11px;
}

.badge_icon.pri {
  background-color: rgba(var(--primary), 1);
}

.badge_icon.sec {
  background-color: rgba(var(--secondary), 1);
}

.badge_icon.def {
  background-color: rgba(var(--black), 1);
}

.t-left {
  top: -1.1em;
  left: -1.1em;
}

.t-right {
  top: -1.1em;
  right: -1.1em;
}

.b-left {
  bottom: -1.1em;
  left: -1.1em;
}

.b-right {
  bottom: -1.1em;
  right: -1.1em;
}

/* badge component ends here */
