<link rel="stylesheet" href="./index.css" />

<div class="container m2 p2">
  <div class="productPage">
    <div class="productPage_img">
      <img src="./productImage.png" alt="" />
    </div>
    <div class="productPage_content">
      <div class="productPage_detail">
        <h2 class="head2">Product Name</h2>
        <h4 class="head4 text-fade">Product Catergory</h4>
        <div class="productPage_price mb1">
          <h2 class="head2"><span>&#8377</span> 2999</h2>
            <h2 class="head2 productPage_discount"><span>&#8377</span> 3999</h2>
        </div>
        <p class="text4">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, vitae
          obcaecati animi dignissimos non nam necessitatibus ducimus ad, fugit
          ipsa id qui minima quis rem exercitationem suscipit porro est
          accusantium.
        </p>
      </div>
      <div class="productPage_Actions mt3">
        <h4 class="head4">Choose the product quantity :-</h4>
        <div class="product_Qauntity mb3">
          <div class="text4">Quantity :-</div>
          <i class="fas fa-plus-square"></i>
          <div class="product_qauntityValue"></div>
          <i class="fas fa-minus-square"></i>
        </div>
        <div class="productPage_Actionsbtns">
          <button class="productPage_action1">Add To Wishlist</button>
          <button class="productPage_action2">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./main.js"></script>
