.hero_slider {
  z-index: 1;
  width: 95vw;
  height: 85vh;
}

.hero_slider .slider_slide {
  max-width: max-content;
  overflow: hidden;
}

.hero_slider .slider_buttons {
  width: 95vw;
}

.hero_slider img {
  object-position: top left;
}

@media (max-width: 768px) {
  .hero_slider {
    max-height: 325px;
  }
  .hero_slider .slider_item img {
    height: 100%;
    object-fit: cover;
  }

  html {
    font-size: 85%;
  }
}
