<link rel="stylesheet" href="./index.css" />

<div class="slider">
  <div class="slider_slide">
    <div class="slider_item">
      <!-- there is inline style because this element is temproary and doesnt have any relation with the component  -->
      <img src="./assets/slider-img 1.jpg" alt="" />
    </div>
    <div class="slider_item">
      <img src="./assets/slider-img 2.jpg" alt="" />
    </div>
    <div class="slider_item">
      <img src="./assets/slider-img 3.jpg" alt="" />
    </div>
    <div class="slider_item">
      <img src="./assets/slider-img 4.jpg" alt="" />
    </div>
  </div>
  <div class="slider_buttons">
    <button class="slider_button1"><i class="fas fa-chevron-left"></i></button>
    <button class="slider_button2"><i class="fas fa-chevron-right"></i></button>
  </div>
  <div class="slider_dots">
    <!-- <i class="fas fa-circle"></i>
    <i class="far fa-circle"></i> -->
  </div>
</div>

<script src="./index.js"></script>
