<link rel="stylesheet" href="./index.css" />

<div class="container p2">
  <div class="card card--gradient card--horizontal">
    <div class="card_imggradient">
      <img
        loading="eager"
        class="card_imggradient_img"
        src="https://picsum.photos/500/350"
        alt=""
      />
    </div>
    <header class="card_header">
      <h3>The Card Tiltle</h3>
      <h4>Sub Title Of The Card</h4>
    </header>
    <span class="card_content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </span>
    <div class="card_btnBox">
      <div class="card_btnBox_box1">
        <button>Action 1</button>
        <button>Action 2</button>
      </div>
      <div class="card_btnBox_box2">
        <button><i class="fas fa-heart"></i></button>
        <button><i class="fas fa-share-alt"></i></button>
        <button><i class="fas fa-ellipsis-v"></i></button>
      </div>
    </div>
  </div>
</div>
