@import url(/css/global.css);

.productFilter {
  background-color: white;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productFilter_heading {
  display: flex;
  justify-content: space-between;
}

.productFilter_filterHeading {
  font-size: 1.2rem;
  color: rgb(var(--black));
  margin-bottom: 7px;
}

.productFilter_clear {
  background-color: transparent;
  color: rgb(var(--black));
  text-decoration: underline;
  padding: 0rem;
  transition: none;
  font-size: 1rem;
}

.productFilter_filter {
}

.productFilter_priceRange {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

#priceRange {
  width: 100%;
}

.productListing_radio {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.productListing_radio .productListing_radioButton {
  background-color: transparent;
  width: max-content;
  transition: none;
  color: rgb(var(--black));
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.productListing_radio .productListing_radioIcon {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(var(--black));
  margin-right: 10px;
  padding: 2px;
  color: rgb(var(--black));
  font-size: 10px;
}
