<link rel="stylesheet" href="./index.css" />

<div class="container">
  <div class="productFilter">
    <div class="productFilter_heading">
      <h4>Filter</h4>
      <button class="productFilter_clear">Clear</button>
    </div>
    <div class="productFilter_filter">
      <h4 class="productFilter_filterHeading">Price</h4>
      <div class="productFilter_priceRange">
        <p>5000</p>
        <p>10000</p>
        <p>15000</p>
      </div>

      <input type="range" id="priceRange" />
    </div>
    <div class="productFilter_filter">
      <h4 class="productFilter_filterHeading">Catergory</h4>
      <div class="productListing_radio" content="Men/Women"></div>
    </div>
    <div class="productFilter_filter">
      <h4 class="productFilter_filterHeading">Rating</h4>
      <div
        class="productListing_radio"
        content="4 Stars or above/3 Stars or above/2 Stars or above/1 Stars or above"
      ></div>
    </div>
    <div class="productFilter_filter">
      <h4 class="productFilter_filterHeading">Sort By</h4>
      <div
        class="productListing_radio"
        content="Price - High To Low/Price -Low To High"
      ></div>
    </div>
  </div>
</div>

<script src="./index.js"></script>

'[-'
