<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="./index.css" />

<div class="container">
  <div
    class="badge"
    icon="false"
    iconValue="fa-envelope-open"
    content="hello 10"
    position="t-left"
    color="pri"
  >
    <button class="badge_button btn-pri br-large t3">Hello</button>
  </div>
</div>

<script src="./index.js"></script>
