<link rel="stylesheet" href="./index.css" />

<div class="container m2">
  <div
    class="productListing"
    status="both"
    type="portrait"
    discount="1000"
    price="3999"
  >
    <div class="productListing_header">
      <img src="./assets/productImage.png" alt="Product Image" />
      <div class="productListing_wishlistIcon">
        <i class="far fa-heart"></i>
      </div>
    </div>
    <div class="productListing_content">
      <h5 class="productListing_title">Product 1</h5>
      <div class="productListing_price"></div>
    </div>
    <button class="productListing_action">Add To Cart</button>
  </div>
</div>

<script src="./index.js"></script>
