<link rel="stylesheet" href="./index.css" />
<div class="catergory_list">
  <div class="catergory_listItem">
    <img src="../assets/ecom 5.jpg" alt="" />
    <h4>Men Wear</h4>
  </div>
  <div class="catergory_listItem">
    <img src="../assets/ecom 5.jpg" alt="" />
    <h4>Men Wear</h4>
  </div>
  <div class="catergory_listItem">
    <img src="../assets/ecom 5.jpg" alt="" />
    <h4>Men Wear</h4>
  </div>
  <div class="catergory_listItem">
    <img src="../assets/ecom 5.jpg" alt="" />
    <h4>Men Wear</h4>
  </div>
  <div class="catergory_listItem">
    <img src="../assets/ecom 5.jpg" alt="" />
    <h4>Men Wear</h4>
  </div>
</div>
